*{
    margin: 0;
    padding:0;
}

.A{
    padding-top: 25px;
    word-spacing: 30px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    background-image: url("eduford_img/background.jpg");
    background-position: center;
    background-size: cover;
    
}

.A img{
    width: 190px;
    height: 50px;
    padding-right: 470px;
    padding-left: 50px;
}

.A a{
    text-decoration: none;
    color: white;
}

.A a:hover{
    color: yellow;
    text-decoration: underline;
}

.A h1{
    padding: 125px 0px;
    color: white;
}

.B{
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.B img{
    width: 700px;
    height: 500px;
    float: left;
}

.C{
    font-size: 35px;
    background-color: red;
    color: white;
}

.C th,td{
    padding:15px;
}

.D{
    width: 700px;
    padding-right: 310px;
    padding-bottom: 50px;
}
.D h1{
    padding: 50px 0px;
}

.D p{
    text-align:left;
    color: gray;
}

.E{
    width: 700px;
    border: solid grey 1px;
    margin-left: 140px;
}

.E form{
    padding-left: 20px;
    padding-bottom: 20px;
}

.E form input{
    width: 654px;
    padding: 5px 0px;
}

.E form button{
    padding: 10px;
    color: white;
    background-color: white;
    border: none;
}

.E form button:hover{
    background-color: powderblue;
}

.F{
    text-align: center;
    padding-top: 100px;
}

.F p{
    color: gray;
}